/liger_gui-build-desktop-Desktop_Qt_4_8_1_for_GCC__Qt_SDK__Release/
/*.txt~
/build/
/*.cmake~
/gui_build/
/gui_build_dbg/
*.user
CMakeLists.txt.user*
/gui_build_qt5_dbg/
/liger-build-Desktop_Qt_5_0_1_MSVC2010_32bit-Debug/
*.autosave
/gui_build_dbg_484/
*~1
*~2
/build-liger-Desktop-Debug/
/build-liger-Desktop_Qt_5_0_2_MinGW_32bit-Debug/
/build-liger-Desktop_Qt_5_0_2_GCC_64bit-Debug/
build-liger-Desktop_Qt_5_0_2_clang_64bit-Debug
liger-build-Desktop_Qt_5_0_1_clang_64bit-Default_build_Release
/build-liger-Desktop-Release/
liger.pro.user.*
*.working
*.vpp~*
src/libs/eigen/INSTALL
src/libs/eigen/COPYING.README
*.tmp
/doc/doxygen/latex
/doc/doxygen/html
DevUtils/testANN.net
DevUtils/trainingData.train
*.orig
*.pyc
Untitled.m
*.asv
