language: cpp

sudo: required

matrix:
  include:
    - name: "Linux build g++7.3"
      os: linux
      dist: bionic
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - mesa-common-dev
            - libglu1-mesa-dev
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - libqt5webengine5
            - libqt5webenginewidgets5
            - libqt5webchannel5
            - libqt5webchannel5-dev
            - libqt5svg5
            - libqt5svg5-dev
            - libqt5help5
            - qttools5-dev
            - qttools5-dev-tools

      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
        - COMPILER_SPEC=linux-g++
        - BOOST_SRC=boost_1_65_1.tar.gz
        - BOOST_URL=https://dl.bintray.com/boostorg/release/1.65.1/source
        - BOOST_TOOLSET=gcc
        - TEST_SCRIPT=run_all_unit_tests_linux.sh
      before_install:
        - eval "${MATRIX_EVAL}"
        - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 20
        - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 20
          #- sudo add-apt-repository ppa:beineri/opt-qt596-trusty -y
          #- sudo apt-get update -qq
      install:
        # Qt
        #- sudo apt-get install -qq qt5-qmake libqt5webengine5 libqt5webchannel5 libqt5svg5 
        #- sudo apt-get install -qq qt59base qt59tools qt59webchannel qt59webengine qt59svg qt5-qmake
        #- source /opt/qt59/bin/qt59-env.sh 

        # Boost
        - wget ${BOOST_URL}/${BOOST_SRC}
        - mkdir boost
        - tar --strip-components=1 -xf ${BOOST_SRC} -C boost
        - rm -f ${BOOST_SRC}
        - cd boost
        - ./bootstrap.sh
        - ./b2 --with-filesystem --with-system link=shared threading=multi toolset=${BOOST_TOOLSET} stage
        - export BOOST_INCLUDE="${TRAVIS_BUILD_DIR}/boost"
        - export BOOST_LIB="${TRAVIS_BUILD_DIR}/boost/stage/lib"
        
        # python modules
        - sudo python -m pip install tabulate 

before_script:
  - cd ${TRAVIS_BUILD_DIR}
  - mkdir build
  - cd build
  - qmake --version
  - python --version
  - export QT_SELECT=qt5
  - echo BOOST_INCLUDE ${BOOST_INCLUDE}
  - echo BOOST_LIB ${BOOST_LIB}
  - qmake "DISABLE_PYTHON=yes" ../liger.pro -r -spec ${COMPILER_SPEC} 

script:
  - make -s
  - cd tests/bin
  - chmod +x ${TEST_SCRIPT}
  - ./${TEST_SCRIPT}
  - python failure_reporter.py .

